html,body {
    margin:0;
    padding:0;
    scrolling:none;
    height:100%;
}
img.first{
    position: absolute;
    right: 10px;
}
div#title {
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    color: #444;
    padding: 12px;
}
div#content {
    border: 8px solid black;
    background-color: #444;
    width:100%;
    height: 30%;
    overflow: scroll;
    position: fixed;
    bottom: 0;
    display: inline-grid;
}
div#content div {
    padding: 6px;
}
div.cont {
    line-height: 24px;
    display: inline-grid;
    white-space: nowrap;
    min-width: 122px;
}
div.light {
    color: #444;
    background-color: gold;
}
div.cover {
    color: gold;
    background-color: #444;
    padding: 4px;
}
span {
    font-family: 'Ubuntu', sans-serif;
    margin:auto auto;
    text-align:center;
}
div#attributes {
    position: fixed;
    left: 40%;
    top: 20%;
    background-color: rgba(222,222,222,0.7);
    border-radius: 20px;
    padding: 0px 12px 12px;
    display:none;
}    
div#arabic { 
    font-family: 'Arial', sans-serif;
    font-size: 70px;
    margin-top: 50px; 
}
div#name { 
    font-size: 41px;
    margin-top: 5px;  
}
div#desc { 
    font-size: 31px;
}
div#detail { 
    width: 300px;
}
body {
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: difference;
    background-size: cover;
    position: fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
}
/*
     FILE ARCHIVED ON 16:16:34 Jan 22, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:04:23 Dec 24, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.591
  exclusion.robots: 0.021
  exclusion.robots.policy: 0.01
  esindex: 0.014
  cdx.remote: 19.644
  LoadShardBlock: 131.994 (3)
  PetaboxLoader3.datanode: 101.465 (4)
  load_resource: 211.41
  PetaboxLoader3.resolve: 166.316
*/