html,body {
    margin:0;
    padding:0;
    overflow:none;
    scrolling:none;
    height:100%
}
div#title {
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    color: #444;
    padding: 12px;
}
div#content {
    border: 8px solid black;
    background-color: #444;
    width:100%;
    overflow: auto;
    position: fixed;
    bottom: 0px;
}
div.cont {
    line-height: 44px;
    display: inline-grid;
    white-space: nowrap;
    min-width: 200px;
}
div.light {
    color: #444;
    background-color: gold;
}
div.cover {
    color: gold;
    background-color: #444;
}
span {
    font-family: 'Ubuntu', sans-serif;
    line-height 100%;
    margin:auto auto;
    text-align:center;
}
div#attributes {
    position: fixed;
    left: 40%;
    top: 20%;
}    
div#arabic { 
    font-size: 70px;
    margin-top: 50px; 
}
div#name { 
    font-size: 41px;
    margin-top: 5px;  
}
div#desc { 
    font-size: 31px;
}
img {margin-left:6px}
